
<div class="row">
   
    <div class="span4"><img src=<%= @results["Poster"] %> class="img-polaroid">
    <div class="span5"> 
	  <p> Title: <%= @results["Title"] %> </p>
	  <p> Year: <%= @results["Year"] %> </p>
	  <p> Rated: <%= @results["Rated"] %> </p>
	  <p> Released: <%= @results["Released"] %> </p>
	  <p> Runtime: <%= @results["Runtime"] %> </p>
	  <p> Genre: <%= @results["Genre"] %> </p>
	  <p> Director: <%= @results["Director"] %> </p>
	  <p> Writer: <%= @results["Writer"] %> </p>
	  <p> Actors: <%= @results["Actors"] %> </p>
	  <p> Plot: <%= @results["Plot"] %> </p>
	</div>
</div>

</div>
